# Rust
target/
Cargo.lock

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Node
node_modules/
dist/

# .NET
bin/
obj/
.vs/

# Windows
Thumbs.db
*.suo

# IDE
.idea/
.vscode/
*.swp

# Env
.env
.env.local
*.key

# OS
.DS_Store
